/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Globals  */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}
::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   

  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; }
/* Variables  */
:root{
    --main-color: #ffffff;
    --sec-color: #ffffff;
    --text-color: #ffffff;
    --bg-color: #000000;
}
::selection{
    color: var(--text-color);
    background-color: var(--main-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section{
    padding: 4rem 0 3rem;
}
body{
    background-color: #000000;
    color: var(--text-color);
    height: 5000px;
    /* background-image: url(img/background.jpg); */


}
img{
    width: 100%;
}

/* =======================================  */
/* HEADER  */
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.461);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
    backdrop-filter: blur(5px);
    height: 11vh;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

#cart-icon {
    display: flex;
    top: 3.5vh;
    position: absolute;
    right: 4%;
    font-size: 2.39vw;
    cursor: pointer;
}

.nav_logo {
    top: 0vh;
    position: absolute;
    background-image: url(./img/logo-white-only.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 2%;
    width: 5%;
    height: 106px;
    transition: opacity 1.3s, transform 1.3s;
}
  .nav_logo:hover{
    background-image: url(./img/logo-white.png);
    opacity: 0.7; /* Reduce opacity on hover */
    transform: scale(1.1);
    transition: opacity 1.3s, transform 1.3s;
  }

/* nav ITEMS  */

.nav_items ul{
    list-style: none;
  }
  .nav_items_links{
    color: white;
    text-decoration: none;
  }
  .container .nav_items {
    display: flex;
    align-items: center;
  }
  .container .nav_items ul{
    display: flex;
  }
  .container .nav_items ul li{
    display: flex;
    margin-left: 20px;
  }
  .container .nav_menu{
    display: none;
    position: absolute;
    width: 35px;
    left: 5%;
    top: 37%;;
  }
  .nav_items {
    position: absolute;
    top: 4.3vh;
    left: 10%;
}
  
  .nav-underline{
    position: relative;
  }
  
  .nav-underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%; 
    width: 0;
    height: 2px;
    background-color:white;
    transition: width 0.3s ease, right 0.3s ease; 
  }
  
  
  .nav-underline:hover::before {
    width: 100%;
    right: 0; 
  }

/* CART  */
.cart {
    position: fixed;
    border-radius: 0 6px;
    top: 10.9vh;
    right: 0;
    right: -100%;
    width: 360px;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #000000c9;
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border-left: 2px solid rgb(255, 255, 255);
    border-radius: 0 17px;
    border-bottom: 2px solid white;
    transition: 1.5s;
    backdrop-filter: blur(5px);
}
.cart.active{
    right: 0;
    transition: .5s;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: .5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: black;
    color: #ffffff;
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
.nav_login {
  position: absolute;
  width: 2.4%;
  height: 54px;
  right: 7.5%;
  top: 1.6vw;
  cursor: pointer;
}
/* MAIN SECTION  */
.main {
  display: flexbox;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/sec1main.png);
  background-size: contain;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  overflow: hidden;
}
.section-title{
  font-style: 1.28vw;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
.sec1-slogan {
  font-size: 4.5vw;
  position: absolute;
  top: 20vh;
  left: 5vw;;
  position: absolute;
  top: 20vh;
  left: 2vw;
}
.sec1-mouse {
  display: flex;
  position: absolute;
  width: 34vw;
  height: 50vh;
  background-image: url(./img/sec1-mouse.webp);
  background-size: contain;
  margin: 0px;
  padding: 0px;
  right: 4%;
  top: 31vh;
  transform: rotate(25deg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  max-width: 34vw;
}

.sec1-vfx {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-image: url(./img/sec1mainvfx.png);
  background-size: contain;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  overflow: hidden;

}

.sec1-mouse:hover{
  transform: scale(1.2) rotate(14deg);
  max-width: 34vw;
  z-index: 2;
}
.sec1-btn {
  position: absolute;
  font-size: 28px;
  bottom: 30vh;
  left: 13%;
  color: white;
  border: solid 2px white;
  border-radius: 29px;
  padding: 14px;
  transition: all 0.5s;
}
.sec1-btn:hover {
  color: rgb(0, 0, 0);
  border: solid 2px rgb(0, 0, 0);
  background-color: #ffffff;
}
/* sec 2.5 */
.section-2-5{
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(293px, auto));
    gap: 0.5rem;
}
.sec25card{
  overflow: hidden;
  border-radius: 19.5px;
  height: 40vh;
  width: 80%;
    margin-left: 10%;
}
.card1 {
  width: 94%;
}
.card2{
  width: 90%;
}
.card3 {
  width: 94%;
}
.sec2-5-card {
  border-radius: 19.5px;
  height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -79px;
  transition: all 1s;
  cursor: pointer;
  filter: blur(0px);
}
.sec25card p {
  position: relative;
  font-size: 41px;
  top: -246px;
  left: -3px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  COLOR: darkgray;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.sec25card:hover .sec2-5-card{
  transform: scale(1.2);
  filter: blur(3px);

}
.sec25card:hover .text_card{
  font-weight: 600;
}
.sec2-5-bg1{
  background-image: url(./img/plp-tile-pro-x-wireless.webp);
  background-position-y: -77px;
}
.sec2-5-bg2 {
  background-image: url(./img/plp-tile-keyboards-prox.webp);
  background-position-y: -121px;
}
.sec2-5-bg3{
  background-image: url(./img/mouse_cards.webp);
  background-position-y: -86px;
}
/* SECTION 2 */
.section-2 {
  display: grid;
  position: relative;
  width: 100%;
  /* height: 55vh; */
  text-align: center;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-position-y: center;
  grid-template-columns: repeat(auto-fit, minmax(176px, auto));
    gap: 0.5rem;
}
.sec_2_card{
  margin-top: 7vh;
}
.sec2_card_htext{
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.sec2_card_text{
  font-size: 1vw;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
.card_icon {
  font-size: 6vw;
  font-family: 'Roboto', sans-serif;
}
.sec2_text {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translatex(-50%);
  margin-top: 3vh;
  font: caption;
  font-size: 2.5vw;
}
/* section 3 */
.section-3 {
  position: relative;
  background-image: url(img/sec3.jpg);
  background-repeat: no-repeat;
  background-size: 113%;
  background-position-y: center;
  height: 100vh;
  background-position-x: 29%;
  border-bottom: solid 0.2vh white;
}
.sec_3_img {
  position: absolute;
  background-image: url(img/logo-white-only.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 42vh;
  width: 18%;
  left: 34.3%;
  top: 15vh;
  transition: all 2s;
}

.sec_3_htext {
  position: absolute;
  right: 36%;
  top: 26.5vh;
  font-size: 1.44vw;
  font-weight: 500;
  font-variant: small-caps;
  font-family: 'Roboto', sans-serif;
}
.sec_3_text {
  position: absolute;
  right: 32.7%;
  top: 29.5vh;
  font-size: 1.28vw;
  font-weight: 500;
  font-variant: small-caps;
  font-family: 'Roboto', sans-serif;
}
.sec3_line {
  position: absolute;
  width: 0.3%;
  height: 19vh;
  border-radius: 9px;
  left: 51%;
  top: 24vh;
  background-color: #ffffff;
}
/* section 4 */
.section-4{
  position: relative;
  background-image: url(img/sep09.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-attachment: fixed;
  background-position: center;
  /* border-top: solid 3px #ffffff; */
  border-bottom: solid 3px #ffffff;

  
}
.slogan-4 {
  font-style: none;
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: relative;
  left: 55vw;
  display: inline-block;
}
.keyboard4 {
  display: flex;
  position: absolute;
  width: 34vw;
  height: 50vh;
  left: 10vh;
  top: -13vh;
  background-image: url(img/keyboard.webp);
  background-size: contain;
  transform: rotate(353deg);
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  max-width: 36vw;
}

.keyboard-hover:hover {
  transform: scale(1.2); 
}


/* shop section */
.shop{
    margin-top: 2rem;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}
.product-box{
    position: relative;
}
.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: .4s;
}
.product-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.product-price{
    font-weight: 500;
}
.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}
.add-cart:hover{
    background-color: hsl(0, 0%, 100%);
}

/* SHOP SECTION  */

/* footer SECTION  */


/* ================ RESPONSIVE & BREAKPOINTS ============= */
@media (min-width:1600px){

}


@media (max-width:1400px){
  .sec1-slogan {
    top: 23vh;
}
.keyboard2 {
  top: 56vh;
  left:6vh;

}

}
@media (max-width:1525px){
  .sec1-mouse{
    right: 1%;
  }
  .keyboard2 {
    top: 108vh;
    left:6vh;

  }
  
}
@media (max-width: 1080px){
    .nav{
        padding: 15px;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .shop{
        margin-top: 2rem;
    }
    .nav_logo {
        top: 0.33vh;
        left: 41%;
        width: 18%;
    }
    .container{
        padding: 0;
      }
      .container .nav_menu{
        display: block;
      }
      .nav_items {
        border-radius: 17px 0px;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 102%;
        height: 62vh;
        top: 10.9vh;
        left: -21%;
        background-color: rgb(0 0 0 / 69%);
        backdrop-filter: blur(10px);
        margin-left: -103%;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        transition: all 0.5s ease;
    }
      .nav_items.mobile-menu{
        margin-left: 0;
      }
      .nav_items ul{
        margin-bottom: 4.42vh;
        display: flex;
        margin-left: 23.34vw;
        flex-direction: column;
        align-items: center;
      }
      .nav_items ul li{
        margin-right: 20px;
        margin-top: 90px;
        font-size: 20px;
      }

      #cart-icon {
        top: 4.1vh;
        position: absolute;
        left: 88.5%;
        font-size: 2.4em;
        cursor: pointer;
    }


          .nav_login {
            top: 3.7vh;
            position: absolute;
            width: 37px;
            height: 54px;
            right: 12%;
            cursor: pointer;
        }
        .main{
          height: 50vh;
        }
        .sec1-slogan {
          font-size: 4.5vw;
          left: 11%;
          top: 14vh;
      }

      .sec1-mouse {
        height: 15vh;
        top: 19vh;
        right: 1%;
    }
    .sec2_text{
      font-size: 3.5vw;
    }
    .keyboard2 {
      top: -2.7vh;
      left:6vh;

    }
    .section-3 {
      height: 35vh;
  }
    .sec_3_img {
      top: 0vh;
      left: 30%;
  }
  .sec1-btn {
    left: 15%;
    bottom: 9vh;
    font-size: 20px;
}

.sec2_card_htext {
  font-size: 2vh;
}
.sec2_card_text {
  font-size: 2vh;
}

.card_icon {
  font-size: 25vw;
}

}

@media(max-width: 750px){
  
}
@media (max-width: 600px){
  .sec_3_img {
    top: 8vh;
    left: 14vh;
    
}
.sec1-btn{
  left: 15%;
  bottom: 3vh;
  font-size: 20px;
}
}
@media only screen and (max-width: 1024px) and (min-width:1024px){

  .main {
    height: 100vh;
}
.sec1-slogan {
  text-align: left;
  font-size: 5.5vw;
  left: 6%;
  top: 20vh;
}
.sec1-mouse {
  top: 32vh;
  right: 1%;
}
.sec1-btn {
  left: 18%;
  bottom: 24vh;
  font-size: 21px;
}
#cart-icon {
  top: 2vh;
  left: 93%;
}
.nav_logo{
  top: -3vh;
}
.container .nav_items ul li {
  font-size: 26px;
  margin-top: 50px;
}
.nav_menu{}
.nav_login {
  top: 1.5vh;
  left: 87%;
}
.sec2_text {
  top: 4vh;
}
.section-3 {
  height: 100vh;
}
.sec_3_img {
  top: 16vh;
  left: 33.2%;
}
.keyboard4 {
  top: -9vh;
  width: 50vh;
}
.slogan-4{}
.keyboard4:hover{
  top: -6.5vh;
}
}
/* For Medium Devices */
@media (max-width: 400px){
    .nav{
        padding: 11px;
    }
    .nav_logo {
        top: -1.67vh;
        left: 41%;
        width: 18%;
    }
    .container{
        padding: 0;
      }
      .container .nav_menu{
        display: block;
      }
      .nav_items {
        border-radius: 17px 0px;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 102%;
        height: 62vh;
        top: 10.9vh;
        left: -21%;
        background-color: rgb(0 0 0 / 69%);
        backdrop-filter: blur(10px);
        margin-left: -103%;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        transition: all 0.5s ease;
    }
      .nav_items.mobile-menu{
        margin-left: 0;
      }
      .nav_items ul{
        margin-bottom: 4.42vh;
        display: flex;
        margin-left: 23.34vw;
        flex-direction: column;
        align-items: center;
      }
      .nav_items ul li {
        margin-right: 20px;
        margin-top: 73px;
        font-size: 20px;
    }

      #cart-icon {
        top: 4.1vh;
        position: absolute;
        left: 88.5%;
        font-size: 2.4em;
        cursor: pointer;
    }

          .nav_login {
            top: 3.7vh;
            position: absolute;
            width: 37px;
            height: 54px;
            right: 12%;
            cursor: pointer;
        }
        .main {
         background-size: cover;
      }
        

        .sec1-mouse {
          width: 43vh;
          height: 25vh;
          right: -4%;
          top: 19vh;
          max-width: 55vw;
      }
      .sec1-mouse:hover{
        max-width: 61vw;
      }
        .keyboard2 {
          top: -2.5vh;
        }
        .sec1-btn{
          left: 15%;
          bottom: 8vh;
          font-size: 10px;
        }
        .sec_2_card {
          max-width: calc(25% - 1em);
      }
}

/* For Small Devices */
@media (max-width: 360px){
    .shop{
        margin-top: 1rem;
    }
    .cart{
        width: 280px;
    }
    .nav_logo {
        top: 0.33vh;
        left: 41%;
        width: 18%;
    }
    .container{
        padding: 0;
      }
      .container .nav_menu{
        display: block;
      }
      .nav_items {
        border-radius: 17px 0px;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 102%;
        height: 62vh;
        top: 10.9vh;
        left: -21%;
        background-color: rgb(0 0 0 / 69%);
        backdrop-filter: blur(10px);
        margin-left: -103%;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        transition: all 0.5s ease;
    }
      .nav_items.mobile-menu{
        margin-left: 0;
      }
      .nav_items ul{
        margin-bottom: 4.42vh;
        display: flex;
        margin-left: 23.34vw;
        flex-direction: column;
        align-items: center;
      }
      .nav_items ul li {
        margin-right: 20px;
        margin-top: 73px;
        font-size: 20px;
    }

      #cart-icon {
        top: 4.1vh;
        position: absolute;
        left: 88.5%;
        font-size: 2.4em;
        cursor: pointer;
    }

          .nav_login {
            top: 3.7vh;
            position: absolute;
            width: 37px;
            height: 54px;
            right: 12%;
            cursor: pointer;
        }
        .keyboard2 {
          top: -2.5vh;
        }
        
}
