
@import url('style.css');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding: 2rem;
}
body{
  background-image: url(../img/login.jpg);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
.login {
  position: absolute;
  left: 32%;
  top: 20vh;
  width: 40%;
  height: 73vh;
  border-radius: 15px;
  backdrop-filter: blur(11px);
}
.form-group {
  position: absolute;
  top: 40vh;
  left: 35%;
  /* font-size: 15px; */
  /* width: 20%; */
}
.email {
  TOP: 53VH;
  LEFT: 37%;
}
.pass {
  TOP: 67VH;
  LEFT: 34%;
}
.name {
  LEFT: 36.5%;
}
.email input{
  font-size: 42px;
  background-color: transparent;
  border-color: black;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.pass input{
  font-size: 42px;
  background-color: transparent;
  border-color: black;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.name input {
  font-size: 42px;
  background-color: transparent;
  border-color: black;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.email label{
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  padding-right: 15px;
}
.pass label{
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  padding-right: 15px;
}
.name label {
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  padding-right: 15px;
}
.btn {
  POSITION: absolute;
  TOP: 81VH;
  LEFT: 45%;
  PADDING: 6PX 73PX;
  FONT-SIZE: 31PX;
  BACKGROUND-COLOR: TRANSPARENT;
  COLOR: WHITE;
  BORDER-COLOR: WHITE;
  BORDER-RADIUS: 15PX;
}