.section7{
        width: 100%;
        height: 900px;
    }
    .picsec7 {
        width: 100%;
        height: 500px;
        background-image: url(../img/sec7.jpg);
        background-size: 85%;
        background-position-y: -405px;
    }
    .tsec7 {
        height: 82px;
        text-align: center;
        font-size: 70px;
        font-weight: 800;
        font-variant: small-caps;
        font-family: 'Roboto', sans-serif;
    }
    .psec7 {
        text-align: center;
        font-size: 22px;
        font-weight: 800;
        font-variant: small-caps;
        font-family: 'Roboto', sans-serif;
    }
    .p2sec7 {
        width: 705px;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        font-variant: small-caps;
        font-family: 'Roboto', sans-serif;
        display: block;
        margin-left: 593px;
        margin-top: 22px;
        PADDING-BOTTOM: 15PX;
    }
    .prsec7 {
        width: 1186px;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        font-variant: small-caps;
        font-family: 'Roboto', sans-serif;
        display: block;
        margin-left: 362px;
        margin-top: 22px;
    }
